body {
    font-family: Arial, Helvetica, sans-serif;
}

.myBody{
    margin:40px;
}

.createTrainingForm, .viewTrainingSessionForm{
    overflow-x: auto;
    width:100%;
}


h1 {
    margin: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.userViewHeader {
    border: 1px solid black;
    border-top-width: 2px;
    font-size: small;
    margin: 10px;
    width: 80%;
    background-color: white;

}

.userView {
    border: 1px solid black;
    height: 20px;
    font-size: small;
}

.blue {
    background-color: #2196F3;
}

/* Blue */

.createTrainingSessionDiv, .closeTrainingSessionDiv{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 200px;
}

.createTrainingSessionBtn{
    border:1px solid #2196F3;
    padding:10px;
    font-weight: bold;
    width:200px;
    color: white;
    cursor: pointer;
    border-radius:10px;
}

.closeTrainingSessionBtn{
    cursor: pointer;
    border:1px solid #DC3545;
    padding:10px;
    font-weight: bold;
    color: white;
    background-color: #DC3545;
    width:200px;
    border-radius:10px;
    margin-bottom: 30px;
}

form{
    margin:20px !important;
}




.sendEmails{
    margin-left:10px;
}

table {
    border-spacing: 0;
    /*border-collapse: separate;*/
    border-radius: 25px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
}

td {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}