.myBody{
    margin:40px;
}

.myBody h1{
    color:white;
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
    border-radius:5px;
    max-width:600px;
    background-color:#0B828F;
    word-wrap:break-word;
    padding:12px;
    text-align:center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.createTrainingForm, .viewTrainingSessionForm{
    overflow-x: auto;
    width:100%;
}

.userViewHeader {
    border: 1px solid black;
    border-top-width: 2px;
    font-size: small;
    margin: 10px;
    width: 80%;
    background-color: white;

}

.userView {
    border: 1px solid black;
    height: 20px;
    font-size: small;
}

.blue {
    background-color: #0B828F;
}

/* Blue */

.createTrainingSessionDiv, .closeTrainingSessionDiv{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 200px;
}

.createTrainingSessionBtn{
    border:1px solid #0B828F;
    padding:10px;
    font-weight: bold;
    width:200px;
    color: white;
    cursor: pointer;
    border-radius:10px;
}

.closeTrainingSessionBtn{
    cursor: pointer;
    border:1px solid #DC3545;
    padding:10px;
    font-weight: bold;
    color: white;
    background-color: #DC3545;
    width:200px;
    border-radius:10px;
    margin-bottom: 30px;
}

.myBody form{
    margin:20px !important;
}

.myBody input[type="text"] {
    min-width: 150px !important;
    width:100% !important;
    height:35px !important;
    border-radius:5px;
}

.participantsTd{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50px;
}


.sendEmails{
    margin-left:10px;
}

.myBody table {
    border-spacing: 0;
    /*border-collapse: separate;*/
    border-radius: 25px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.myBody th {
    text-align: center;
    padding:5px;
}

.myBody td {
    /*border: 1px solid #dddddd;*/
    text-align: left;
}



