* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #dedede;
}

/* PROFILE */
/*.topnav .show-username-container {*/
/*    float: right;*/
/*}*/
/*.topnav .show-username-container button {*/
/*    float: right;*/
/*    padding: 6px 10px;*/
/*    margin-top: 8px;*/
/*    margin-right: 16px;*/
/*    background-color: #555;*/
/*    color: white;*/
/*    font-size: 17px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/* CLASSNAME: active */
.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10%;
}

/* NAV ICONS */
.nav-logo {
    text-align: center;
    color: #5b5b5b;
    height: 50px;
    width: 54px;
    margin-top: 0px;
}

.nav-home {
    text-align: center;
    color: #5b5b5b;
    height: 40px;
    width: 75px;
    margin: 4px;
}

.topnav a:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.topnav a.active {
    color: #5b5b5b;
    margin-left: 2px;
}

.topnav a.active:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


.topnav .login-container {
    float: right;
}
.topnav .profileIcon {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
}
.topnav input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
}

.topnav input[type=number] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:120px;
}

.topnav .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;


}

.topnav .login-container button:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 600px) {
    .topnav .login-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

