:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */


  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer.container {
  padding: 2.25em 0;
  margin-top: auto;
  border-top: 1px solid rgb(219, 219, 219);
}

.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

.footer-right {
  float: right;
  margin-top: auto;
  padding: 0 10px;
}

.contentleft {
  position: inherit;
  float: left;
  margin: 50px 0px 90px 200px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #04444b;
  padding: 0;
  font-family: Arial, Times, serif;
  max-height: 1024px;
}

.contentright {
  position: inherit;
  float: right;
  margin: 50px 200px 90px 0px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #04444b;
  padding: 0;
  font-family: Arial, Times, serif;
  max-height: 1024px;
}


.contentleft h2,
.contentright h2 {
  margin: 0;
  color: white;
  font-family: Impact;
  display: block;
  background-color: #04444b;
  padding: 10px 10px;
  max-width: 768px;
  max-height: 1024px;
}

.contentleft p,
.contentright p {
  margin: auto;
  color: rgba(0, 0, 0, 0.87);
  font-family: sans-serif;
  display: block;
  padding: 10px 5px;
  max-width: 768px;
  max-height: 1024px;

}

.pt-img {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0px;
  max-width: 1450px;
  max-height: 800px;
}
