.signin {
    position: relative;
    padding: 16px;
    max-width: 400px;
    min-height: 400px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 5% auto 0;
    border-radius: 25px;
    background-size: cover;
}

.signup {
    position: relative;
    padding: 16px;
    max-width: 400px;
    min-height: 400px;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 3% auto 0;
    border-radius: 25px;
    background-size: cover;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #08a4b7;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.signup-p {
    font-size: 12px;
}

.signup-btn {
    background-color: #08a4b7;
    color: white;
    padding: 10px 16px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}

.signup-home-btn {
    background-color: #08a4b7;
    color: white;
    padding: 10px 16px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
}

button:hover {
    opacity: 0.8;
}

